@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

main{
    max-width: 960px;
    margin: 1rem auto;
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400
}

.cita-ana {
    text-align: right;
    font-style: italic;
    font-size: 0.9rem;
    margin-right: 0;
}

.foto-derecha {
    width: 35%;
    float: right;
    margin: 0.5rem 0 0.5rem 0.5rem;
    min-width: 200px;
    /*border-radius: 50%; imagen redonda*/
}